br
br
.container
  .col-sm-10.col-sm-offset-1
    .row
      .col-sm-4
        .panel.panel-warning
          .panel-heading
            h3.panel-title Soiree
          .panel-body
            .the-price
              h1 $7
            table.table
              tr
                td 1 Account
              tr.active
                td 1 Project
              tr
                td 100K API Access
              tr.active
                td 100MB Storage
              tr
                td Custom Cloud Services
              tr.active
                td Weekly Reports
          .panel-footer
            a.btn.btn-success(href='http://www.jquery2dotnet.com', role='button') Sign Up
      .col-sm-4
        .panel.panel-primary
          .panel-heading
            h3.panel-title Fiesta
          .panel-body
            .the-price
              h1 $20
            table.table
              tr
                td 2 Account
              tr.active
                td 5 Project
              tr
                td 100K API Access
              tr.active
                td 200MB Storage
              tr
                td Custom Cloud Services
              tr.active
                td Weekly Reports
          .panel-footer
            a.btn.btn-success(href='http://www.jquery2dotnet.com', role='button') Sign Up
      .col-sm-4
        .panel.panel-info
          .panel-heading
            h3.panel-title Block Party
          .panel-body
            .the-price
              h1 $35
            table.table
              tr
                td 5 Account
              tr.active
                td 20 Project
              tr
                td 300K API Access
              tr.active
                td 500MB Storage
              tr
                td Custom Cloud Services
              tr.active
                td Weekly Reports
          .panel-footer
            a.btn.btn-success(href='http://www.jquery2dotnet.com', role='button') Sign Up
