.jumbotron
  .container.text-center
    h1 Make Better Memories
    .lead The Easiest Way to Plan Fun With Friends
    .btn-toolbar
      //- a.btn.btn-lg.btn-info(data-toggle='modal', data-target='#login-modal') Start Planning
      //- a.btn.btn-lg.btn-info(data-toggle='modal', data-target='#login-modal') New Zoink!
      a.btn.btn-lg.btn-primary(href='#/zoinks/1') See Sample Zoink
.container
  .row
    h3.text-center Customer Praise
    .col-sm-4
      blockquote
        | "
        b Zoinks
        |  made planning my last camping trip INSANELY easy."
    .col-sm-4
      blockquote
        | "My friends used to plan weekend trips with WhatsApp, Slack, and email chains. Now we use 
        b Zoinks
        | ."
    .col-sm-4
      blockquote
        | "What I like best is 
        b Zoinks
        |  makes it so a picnic or party plans itself."

  hr
  .row
    h3.text-center Features
    .col-sm-4
      h4.text-center Save Time
      p.lead Awesome Sauce
    .col-sm-4
      h4.text-center Save Time
      p.lead Awesome Sauce
    .col-sm-4
      h4.text-center Save Time
      p.lead Awesome Sauce
  .row
    .col-sm-4.col-sm-offset-2
      h4.text-center Save Time
    .col-sm-4
      h4.text-center Save Time

  hr
  .row
    h3.text-center Pricing
    br
    .col-sm-3
      .panel.panel-default
        .panel-heading
          h3.panel-title Road Trip
        .panel-body
          .the-price
            h1 $0
          table.table
            tr
              td 5 RSVPs
            tr.active
              td 10 Day Message Storage
    .col-sm-3
      .panel.panel-primary
        .panel-heading
          h3.panel-title Soiree
        .panel-body
          .the-price
            h1 $7
          table.table
            tr
              td 45 RSVPs
            tr.active
              td 1 Year Message Storage
    .col-sm-3
      .panel.panel-warning
        .panel-heading
          h3.panel-title Flash Mob
        .panel-body
          .the-price
            h1 $40
          table.table
            tr
              td 120 RSVPs
            tr.active
              td 1 Year Message Storage
    .col-sm-3
      .panel.panel-danger
        .panel-heading
          h3.panel-title Block Party
        .panel-body
          .the-price
            h1 $85
          table.table
            tr
              td 350 RSVPs
            tr.active
              td 1 Year Message Storage

section.footer
  .container
    .row
      .col-lg-4.col-md-4.col-sm-4
        .footer_dv
          h4 Services
          ul
            li.line_rv
              a(href='/') Contact Us
      .col-lg-4.col-md-4.col-sm-4
        .footer_dv
          h4 Services
          ul
            li
              a(href='/') Come Visit Us
      .col-lg-4.col-md-4.col-sm-4
        .footer_dv
          h4 Contact us
          p Customer Support
          p Call Us 
            br
