.col-sm-9
  .container-fluid
    .col-sm-4
      .clearfix.margin-top
        h4 {{zoink.title}} 
        .text-muted 
            a(href='http://maps.google.com/?q={{zoink.location}}', target='_blank') {{zoink.location}}
        .margin-top(ng-show="zoink.startsAt || zoink.endsAt")
          | Starts at: {{zoink.startsAt | date:'EEE MMM d, h:mma'}}
          br
          | Finishes: {{zoink.endsAt | date:'EEE MMM d, h:mma'}}
        .margin-top
          a.btn.btn-primary(ng-click='rsvp()', ng-disabled='rsvped || (zoink.inviteOnly && !invited)' ng-hide="rsvped") RSVP
          .btn.btn-default.dropdown(ng-show="rsvped") 
            a.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
              | Unrsvp
            ul.dropdown-menu
              li
                a(href="" ng-click="unrsvp()") Flake Out
        .card
          .card-header.clearfix
            h5.pull-left People
            a.pull-right.btn.btn-link(ng-click='toggleNewInvite()') Add
          .card-body
            //- RSVPS
            .media(ng-repeat='rsvp in zoink.rsvps')
              .media-left
                img.media-object.img-circle(ng-src='{{rsvp.picture}}', width='40px', alt='{{rsvp.displayName}}')
              .media-body
                .media-heading {{rsvp.displayName || "You"}}
            
            //- INVITES
            .row(ng-repeat="invite in zoink.invites")
              .col-xs-10
                .media
                  .media-left
                    img.media-object.img-circle(ng-src='{{invite.picture}}', ng-show="invite.picture", width='40px', alt='{{invite.displayName}}')
                  .media-body
                    .media-heading {{invite.displayName}}
              .col-xs-2
                a.text-muted.pull-right(ng-click="rmInvite(invite)" href="")
                  i.icon.ion-eject.large
            form(ng-submit='addInvite()', ng-show='newInvite')
              .form-group
                input.form-control(type='text', required='', placeholder="Username", ng-model='invite.displayName', focus-me='{{newInvite}}')
              .form-group
                input.form-control(type='email', required='', placeholder="Email" ng-model='invite.email' ng-keyup="$event.keyCode == 13 && addInvite()")
    .col-sm-8
      uib-tabset.margin-top(justified='true')
        uib-tab(heading='Get Ready')
          h5 Volunteers Needed
          .card
            .card-header.clearfix
              a.pull-right.btn.btn-link(ng-click='toggleNewRequirement()') Add
              //-  ng-hide='!rspved'
            .card-body
              form(ng-submit='addRequirement()', ng-show='newRequirement')
                .form-group
                  input.form-control(type='text', ng-model='requirement.name', focus-me='{{newRequirement}}')
              .list-group
                .list-group-item(ng-repeat='r in zoink.reqs') {{r.title}}
                  span.pull-right 
                    {{r.userName}}
                    button.close(ng-click='removeRequirement(r)') &#10006;
                    button.btn.btn-sm.btn-default(ng-click='claimRequirement(r)' ng-if='!r.userName') Claim
                    button.btn.btn-sm.btn-default(ng-click='unclaimRequirement(r)' ng-if='r.userName == currentUser.displayName') Unclaim
                    img.img-responsive.img-circle.pull-left(ng-src='{{r.userPic}}', width='25px')
          h5 What to Bring & How to Prepare 
          .card
            .card-header.clearfix
              a.pull-right.btn.btn-link(ng-click='toggleNewTodo()') Add
              //-  ng-hide='!rspved'
            .card-body
              form(ng-submit='addTodo()', ng-show='newTodo')
                .form-group
                  input.form-control(type='text', ng-model='todo', focus-me='{{newTodo}}')
              .list-group
                .list-group-item(ng-repeat='todo in zoink.todos') {{todo}}
                  span.pull-right
                    button.close(ng-click='removeTodo(todo)') &#10006;

        uib-tab(heading='Share Rides')
          h5 Carpools and Shared Rides
          .card
            .card-header.clearfix
              a.pull-right.btn.btn-link(ng-click='toggleNewCarpool()') Add
              //-  ng-hide='!rspved'
            .card-body
              form(ng-submit='addCarpool()', ng-show='newCarpool')
                .form-group
                  input.form-control(type='text', ng-model='carpool.name', focus-me='{{newCarpool}}')
              .list-group
                .list-group-item(ng-repeat='carpool in zoink.carpools')
                  .clearfix
                    .pull-left
                      | {{carpool.name}}
                    .pull-right
                      a.margin-sides.btn.btn-sm.btn-default.pull-right(ng-click='joinCarpool(carpool)')
                        i.icon.ion-plus-circled.big
                      img.img-responsive.img-circle.pull-right.margin-sides(ng-repeat='passenger in carpool.passengers', ng-src='{{passenger.picUrl}}', width='40px')
        uib-tab(heading='Group Purchases')
          h5 Group Purchases
          .card
            .card-header.clearfix
              a.pull-right.btn.btn-link(ng-click='toggleNewPurchase()') Add
              //-  ng-hide='!rspved'
            .card-body
              form(ng-submit='addPurchase()', ng-show='newPurchase')
                .form-group
                  input.form-control(type='text', ng-model='purchase', focus-me='{{newPurchase}}')
              .list-group
                .list-group-item(ng-repeat='purchase in zoink.purchases') {{purchase}}
.col-sm-3.chat.box-shadow-left.whole-height
  div(ng-repeat="message in zoink.messages")
    {{message.content}}
    .small.text-right.text-muted said by {{message.displayName}}&nbsp;
      .text-muted.pull-right.dropdown(ng-show="message.displayName == currentUser.displayName") 
        a#dropdownMenu1.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
          i.icon.ion-gear-b
        ul.dropdown-menu(aria-labelledby='dropdownMenu1')
          li
            a(href="" ng-click="rmMessage(message)") Delete Message

  form(ng-submit='addMessage()')
    .form-group
      textarea.form-control(name='', id='', ng-model='message.content' ng-keyup="$event.keyCode == 13 && addMessage()")
    .text-right
      button.btn.btn-success.btn-sm(type='submit') Send