#left.col-sm-8
  .col-sm-4
    a.btn.btn-primary.btn-block(ng-cloak ng-click='rsvp()', ng-disabled='rsvped || (zoink.inviteOnly && !invited)' ng-hide="rsvped") RSVP
    a.btn.btn-primary.btn-block(ng-cloak  data-toggle='modal', data-target='#newInvite', ng-disabled='!rsvped' ng-show="rsvped") Share Invite
    .card
      .card-header RSVPs
      div(ng-repeat='rsvp in zoink.rsvps')
        img.img-circle(ng-src='{{rsvp.picture}}', width='40px', alt='{{rsvp.displayName}}') 
        |  {{rsvp.displayName}}
  .col-sm-8
    .clearfix
      h5 {{zoink.title}} 
      .pull-left.text-muted 
          i.icon.ion-location 
          a(href='http://maps.google.com/?q={{zoink.location}}', target='_blank') {{zoink.location}}
      .pull-right(ng-show="zoink.startsAt || zoink.endsAt")
        b {{zoink.startsAt | date:'EEE MMM d, h:mma'}} - {{zoink.endsAt | date:'EEE MMM d, h:mma'}}

    uib-tabset.margin-top(justified='true', type='pills')
      uib-tab(heading='Preparation')
        .card#requirements
          .card-header.clearfix
            | Volunteers Needed
            a.pull-right.btn.btn-link(ng-click='toggleNewRequirement()') Add
          .card-body
            form(ng-submit='addRequirement()', ng-show='newRequirement')
              .form-group
                input.form-control(type='text', ng-model='requirement.name', focus-me='{{newRequirement}}')
            .list-group
              .list-group-item(ng-repeat="r in zoink.reqs | orderBy:'-userName'") {{r.title}}
                span.pull-right 
                  .btn-group
                    button.btn.btn-sm.btn-default#assign-requirement(data-toggle='dropdown') {{r.userName || 'UNASSIGNED'}}
                      span.caret
                    ul.dropdown-menu
                      li(ng-repeat='rsvp in zoink.rsvps')
                        a(ng-click='claimRequirement(r, rsvp)') {{rsvp.displayName}}
                      li
                        a(ng-click='unclaimRequirement(r)') UNASSIGNED
                  a#dropdownMenu1.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                      i.icon.ion-gear-b
                    ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                      li
                        a(href="" ng-click='removeRequirement(r)') Delete
                  //- img.img-responsive.img-circle.pull-left(ng-src='{{r.userPic}}', width='25px')
        .card
          .card-header.clearfix
            | What to Bring & How to Prepare 
            a.pull-right.btn.btn-link(ng-click='toggleNewTodo()') Add
            //-  ng-hide='!rspved'
          .card-body
            form(ng-submit='addTodo()', ng-show='newTodo')
              .form-group
                input.form-control(type='text', ng-model='todo.title', focus-me='{{newTodo}}')
            .list-group
              .list-group-item(ng-repeat='todo in zoink.todos') {{todo.title}}
                span.pull-right
                  a#dropdownMenu1.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                      i.icon.ion-gear-b
                  ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                    li
                      a(href="" ng-click="removeTodo(todo)") Delete
        .card
          .card-header.clearfix
            | Carpools and Shared Rides
            a.pull-right.btn.btn-link(ng-click='toggleNewCarpool()') Add
            //-  ng-hide='!rspved'
          .card-body
            form(ng-show='newCarpool')
              .form-group
                input.form-control(type='text' placeholder='Driver name' ng-model='carpool.title' focus-me='{{newCarpool}}')
                input.form-control(type='number' placeholder='Number of seats' ng-model='carpool.seats')
                input.form-control.btn.btn-default(type='submit', ng-click='addCarpool()')
            .list-group
              .list-group-item(ng-repeat='carpool in zoink.carpools')
                .clearfix
                  .pull-left
                    | {{carpool.title}} can take {{carpool.seats || '?'}} passengers
                  .pull-right
                    a#dropdownMenu1.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                      i.icon.ion-gear-b
                    ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                      li
                        a(href="" ng-click="removeCarpool(carpool)") Delete
                    img.img-responsive.img-circle.pull-right.margin-sides(ng-repeat='passenger in carpool.passengers', ng-src='{{passenger.picUrl}}', width='40px')

      uib-tab(heading='Squaring Up')
        .card
          .card-header.clearfix
            | Group Purchases
            a.pull-right.btn.btn-link(ng-click='toggleNewPurchase()') Add
          .card-body
            form(ng-show='newPurchase')
              .form-group
                input.form-control(type='text', ng-model='purchase.title', placeholder='Item' focus-me='{{newPurchase}}')
                input.form-control(type='text', placeholder='Cost' ng-model='purchase.cost')
                input.form-control.btn.btn-default(type='submit', ng-click='addPurchase()')
            .list-group
              .list-group-item(ng-repeat='purchase in zoink.purchases') {{purchase.title}} 
                a#dropdownMenu1.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                  i.icon.ion-gear-b
                ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                  li
                    a(href="" ng-click="removePurchase(purchase)") Delete

                span.pull-right
                  span(ng-if='purchase.cost') ${{purchase.cost}} 
            .list-group
              .list-group-item Total: ${{totalPurchases.total}}
#right.col-sm-4.chat.box-shadow-left.whole-height
  div(ng-repeat="message in zoink.messages")
    {{message.content}}
    .small.text-right.text-muted said by {{message.displayName}}&nbsp;
      .text-muted.pull-right.dropdown(ng-show="message.displayName == currentUser.displayName") 
        a#dropdownMenu1.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
          i.icon.ion-gear-b
        ul.dropdown-menu(aria-labelledby='dropdownMenu1')
          li
            a(href="" ng-click="rmMessage(message)") Delete Message
  form(ng-submit='addMessage()')
    .form-group
      textarea.form-control(name='', id='', ng-model='message.content' ng-keyup="$event.keyCode == 13 && addMessage()")
    .text-right
      button.btn.btn-success.btn-sm(type='submit') Send

#newInvite.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog.modal-sm(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title.text-center Invite
      .modal-body
        pre#bar(ngclipboard data-clipboard-text="{{inviteMsg}}" ngclipboard-success="copySuccess(e);")
          {{inviteMsg}}
      .modal-footer
        //- a.btn.btn-twitter(href='http://twitter.com/home?status=', title='Share on Twitter', target='_blank')
        //-   i.fa.fa-twitter Twitter
        //- a.btn.btn-facebook(href='https://www.facebook.com/sharer/sharer.php?u=', title='Share on Facebook', target='_blank')
        //-   i.fa.fa-facebook Facebook
        //- a.btn.btn-googleplus(href='https://plus.google.com/share?url=', title='Share on Google+', target='_blank')
        //-   i.fa.fa-google-plus Google+
        //- a.btn.btn-stumbleupon(href='http://www.stumbleupon.com/submit?url=', title='Share on StumbleUpon', target='_blank', data-placement='top')
        //-   i.fa.fa-stumbleupon Stumbleupon
        //- a.btn.btn-linkedin(href='http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=', title='Share on LinkedIn', target='_blank')
        //-   i.fa.fa-linkedin LinkedIn          
        //- button.btn.btn-default(type='button', data-dismiss='modal') Close
